* {
  color: #ad33ff;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: montserrat;
  font-size: 25px;
}
@font-face {
  font-family: montserrat;
  src: url(../stuff/montserrat.otf);
}
#bg_nav {
  background: linear-gradient(to right, #9900ff, #ad33ff);
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  box-shadow: 0 0 15px #000;
  float: left;
}
#back_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
#back_btn {
  color: #fff;
  background-color: #ad33ff;
  border: 1px #fff solid;
  z-index: 500;
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 3px;
  left: 3px;
  height: 44px;
  padding: 5px 10px;
  font-weight: bold;
}
#nav_icon{
  display: none;
  position: fixed;
  z-index: 500;
  cursor: pointer;
  width: 45px;
  height: 45px;
  top: 3px;
}
h1 {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 40px 0;
}
.lvl1 {
  width: auto;
  list-style: none;
  font-size: 30px;
  border-left: 5px transparent solid;
  text-decoration: underline;
  text-decoration-color: #ff00ff;
  padding: 5px 0 5px 10px;
  margin: 3px 0;
  font-weight: bold;
  color: #fff;
}
.lvl2:hover {
  border-left: 5px #ff00ff solid;
  cursor: pointer;
  background-color: #ad33ff;
  padding-left: 20px;
}
.lvl2 {
  list-style: none;
  padding: 5px 0 5px 30px;
  transition: .3s;
  color: #fff;
}
.content {
  margin-left: 25vw;
  width: 75vw;
  height: 100vh;
}
.active {
  border-left: 5px #ff00ff solid;
  cursor: pointer;
  background-color: #ad33ff;
  padding-left: 20px;
}
.content h2 {
  color: #ad33ff;
  font-size: 70px;
  padding: 80px 0 30px 80px;
  font-weight: bold;
}
h3 {
  color: #ad33ff;
  font-size: 35px;
  padding: 5px 0 5px 80px;
}
span {
  color: #9900ff;
  font-size: 0.8em;
  padding: 5px 0 5px 30px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ff00ff;
}
#username {
  text-transform: uppercase;
}
table {
  border-collapse: collapse;
}

table, th, td {
  text-align: center;
}
table input {
  padding: 5px;
}
#space {
  width: auto;
  height: 50px;
}
.btn:hover {
  background: linear-gradient(to bottom, #006bb3, #ad33ff);
  box-shadow: 0 0 15px #fff;
}
.btn {
  padding: 5px;
  background: linear-gradient(to bottom, #ad33ff, #006bb3);
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.err {
  color: #ff0000;
  margin-left: 110px;
}
.succ {
  color: #00e600;
  margin-left: 110px;
}
.change_label_purple {
  color: #ad33ff;
  margin: 10px 10px 10px 2%;
  max-width: 400px;
  display: block;
  position: static;
}
.change_label {
  color: #0066ff;
  margin: 10px 10px 10px 2%;
}
.change_input_purple:focus {
  background-color: #f2f2f2;
  border: 1px #ad33ff solid;
}
.change_input:focus {
  background-color: #f2f2f2;
  border: 1px #0066ff solid;
}
.change_input_purple {
  color: #ad33ff;
  padding: 6px;
  max-width: 400px;
  display: block;
  position: static;
  margin-left: 2%;
}
.purple_img {
  border: 1px #ad33ff solid;
}
.number_input {
  max-width: 100px;
  text-align: center;
  font-weight: bold;
}
.change_input {
  padding: 6px;
  margin: 10px 0;
  color: #0066ff;
}
.conf_btn_purple:hover {
  background-color: #ad33ff;
  color: #fff;
}
.conf_btn_purple {
  color: #ad33ff;
  border: 2px #ad33ff solid;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 400px;
  display: block;
  position: static;
  margin: 2% 2%;
}
.conf_btn:hover {
  background-color: #0066ff;
  color: #fff;
}
.conf_btn {
  color: #0066ff;
  border: 2px #0066ff solid;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  box-sizing: border-box;
}
.really_this {
  margin-top: 20px;
}
.select_inpt {
  cursor: pointer;
}
.option_inpt {
  cursor: pointer;
  padding: 2px 5px;
}
.margin_help {
  margin: 20px 0 20px 2%;
}
.tip {
  margin-left: 2%;
  font-size: 20px;
}
.box_td {
  padding: 5px 10px;
}
.box {
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
table {
  margin-left: 110px;
  border: 1px #ad33ff solid;
}
th {
  background-color: #ad33ff;
  color: #fff;
  border: 1px #ad33ff solid;
  padding: 0.5vw 1vh;
}
td {
  padding: 0.5vw 1vh;
  text-align: center;
}
td:nth-child(2) {
  text-align: left;
}
.tde {
  color: #cc9900;
  font-weight: bold;
  margin-left: 10px;
}
.tdd {
  color: #ff0000;
  font-weight: bold;
  margin-left: 10px;
}
.trash, .edit {
  margin-top: 3px;
  width: 25px;
  height: 25px;
}
.all_pokemons_select{
  min-width: 120px;
}
@media (max-width: 1460px){
  table{
    margin: auto;
  }
}
@media (max-width: 1350px){
  #bg_nav{
    width: 40vw;
  }
  .content{
    margin-left: 40vw;
    width: 60vw;
  }
  th{
    font-size: 0.7em;
    padding: 10px 2px;
  }
  td{
    font-size: 0.8em;
    padding: 10px 2px;
  }
  a{
    font-size: 1.0em;
  }
  .this_btn, .this_inpt {
    margin-left: 2%;
  }
  .really_this {
    margin-top: 2%;
  }
  .tip{
    margin: 0;
  }
}
@media (max-width: 1020px){
  th{
    font-size: 0.7em;
    padding: 8px 2px;
  }
  td{
    font-size: 0.8em;
    padding: 8px 2px;
  }
  a{
    font-size: 0.9em;
  }
}
@media (max-width: 950px){
  #back_btn{
    height: 45px;
    top: 1%;
    position: absolute;
    left: 50px;
  }
  #nav_icon{
    display: block;
    position: absolute;
    top: 1%;
  }
  #bg_nav{
    position: absolute;
    display: none;
    width: 40vw;
    font-size: 1.5em;
  }
  .content{
    margin: 2% 0 0 0;
    width: 100%;
  }
  .content h2{
    text-align: center;
    max-width: 400px;
    font-size: 2.0em;
    padding: 0;
    margin: 2vh auto;
  }
  .content h3{
    max-width: 400px;
    font-size: 1.2em;
    padding: 0;
    margin: 2vh auto;
  }
  form{
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 750px){
  #bg_nav{
    width: 50vw;
  }
  .content{
    margin-top: 12%;
  }
}
@media (max-width: 600px){
  .content{
    margin-top: 12%;
  }
}
@media (max-width: 550px){
  #bg_nav{
    width: 100vw;
  }
