* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: cloud;
  color: #fcde44;
}
table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px #006bb3 solid;
}
th {
  text-align: left;
  background-color: #006bb3;
  color: #fff;
  padding: 10px;
}
td {
  padding: 5px 10px;
}
.number_input {
  width: 100px;
  text-align: center;
}
input:focus {
  border: 1px #006bb3 solid;
  background-color: #f2f2f2;
}
input {
  padding-left: 10px;
  max-width: 100%;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
.filter_cont{
  font-size: 3vw;
}
.submit_btn:hover {
  background-color: #006bb3;
  color: #fff;
  box-shadow: 0 0 10px #fff;
}
.submit_btn {
  color: #006bb3;
  border: 3px #006bb3 solid;
  background-color: #fff;
  width: 30%;
  float: left;
  margin: 20px 35%;
  cursor: pointer;
  transition: .4s;
}
.filter_label {
  color: #fff;
  font-size: 3vw;
  min-width: 200px;
  height: 4.5vh;
  padding: 0 0 0 10px;
  text-shadow: none;
}
.filter_input {
  font-size: 2vw;
  min-width: 200px;
  height: 4.5vh;
  color: #006bb3;
  padding: 0 0 0 10px;
  text-shadow: none;
}
#filter_butt{
  font-size: 2vw;
}
.type_select{
  min-width: 200px;
  height: 4.5vh;
  font-size: 2vw;
}
.type_option{
  font-size: 2vw;
  min-width: 200px;
  height: 3vh;
}
form {
  width: 100%;
}
table{
  width: 100%;
  margin: 0;
}
@media (max-width: 1350px) {
  #filter_butt{
    font-size: 3.5vw;
  }
}
@media (max-width: 950px) {
  table{
    font-size: 5vw;
  }
  .filter_label{
    font-size: 5vw;
  }
  .submit_btn{
    min-width: 250px;
    width: 50%;
    margin: 2% 25%;
  }
  #filter_butt{
    font-size: 5vw;
  }
}
@media (max-width: 780px) {
  table{
    font-size: 4vw;
  }
  .filter_label{
    font-size: 6vw;
  }
  .filter_cont{
    width: 100%;
    margin: 0 0;
  }
  #filter_butt{
    font-size: 6vw;
  }
}
@media (max-width: 500px) {
  table{
    font-size: 3vw;
  }
  .filter_label{
    min-width: 175px;
    padding: 5px;
  }
  #filter_butt{
    font-size: 7vw;
  }
}
