* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: cloud;
  color: #fcde44;
}
.message {
  font-size: 48px;
  letter-spacing: 4px;
}
@font-face {
  font-family: cloud;
  src: url(../stuff/cloud.ttf);
}
#back_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
#back_btn {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffcb05;
  background-color: #1aa3ff;
  border: 2px #006bb3 solid;
  position: fixed;
  top: 398px;
  left: 20%;
  z-index: 500;
  padding: 5px 10px;
  font-family: montserrat;
  font-weight: bold;
}
body {
  background: url(../stuff/main-bg.png) no-repeat center center fixed;
}
header {
  z-index: 1000;
  width: 100%;
  height: 380px;
}
#head-pic {
  width: 40%;
  height: auto;
  padding: 20px 30% 0 30%;
}
#login {
  font-size: 32px;
  width: 49.5%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border: 2px #006bb3 solid;
}
#register {
  font-size: 32px;
  width: 49.5%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  border: 2px #006bb3 solid;
}
.btn:hover {
  background: linear-gradient(to bottom, #006bb3, #008ae6);
  box-shadow: 0 0 15px #fff;
}
.btn {
  background: linear-gradient(to bottom, #008ae6, #006bb3);
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.content {
  width: 60%;
  height: auto;
  margin: 50px 20%;
}
/* .row {
  width: 100%;
  height: auto;
} */
.fifth:hover {
  background-color: #1aa3ff;
  border: 2px #006bb3 solid;
}
.fifth {
  z-index: 500;
  width: 20%;
  height: 20%;
  margin: 10px 0;
  float: left;
  transition: .3s;
  cursor: pointer;
  background-color: #008ae6;
  border: 2px transparent solid;
  box-sizing: border-box;
  position: relative;
}
.poke_img {
  width: 70%;
  height: 70%;
  margin: 5px 15% 0 15%;
}
.poke_name {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2.0em;
}
.connection {
  width: 20vw;
  height: 50px;
  float: right;
  margin: 2vh 4vw 0 0;

}
.dropdown {
  z-index: 1000;
  float: right;
  width: 100px;
  height: 60px;
  position: relative;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  cursor: pointer;
  display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1000;
    top: 100%;
    cursor: pointer;
    width: 120px;
}
.dropdown-content .form_butt{
  background-color: transparent;
  font-family: arial, sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.fixed_dropdown {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 50px;
  right: 3%;
  max-width: 400px;
  height: 60px;
}
.form_butt:hover {
  background-color: #f2f2f2;
}
.form_butt {
  color: #000;
  text-shadow: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 20px;
}
#profilePic {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#logout_arrow {
  margin: 15px 0 0 10px;
  float: right;
  width: 25px;
  height: auto;
}
#searchform {
  width: 60%;
  position: absolute;
  top: 380px;
  margin: 0 20%;
}
.search {
  float: right;
}
#pokeinput:focus {
  background-color: #f2f2f2;
}
#pokeinput {
  margin: 0 10px;
  padding-left: 10px;
  font-size: 36px;
  padding: 0 10px;
  font-weight: bold;
  max-width: 30%;
  color: #008ae6;
  border: 2px #006bb3 solid;
  text-shadow: none;
  transition: .4s;
}
#pokebtn {
  color: #fcde44;
  padding: 0 10px;
  font-size: 36px;
  border: 2px #006bb3 solid;
}
#log_username {
  text-transform: uppercase;
  max-width: 400px;
  float: left;
  font-size: 40px;
  text-align: right;
  margin-top: 8px;
  padding-right: 10px;
}
.disabled {
  cursor: not-allowed;
  opacity: .6;
}
#colletion_btn {
  float: left;
  position: absolute;
  top: 380px;
  left: 31.5%;
  padding: 0 10px;
  font-size: 36px;
  border: 2px #006bb3 solid;
  z-index: 500;
}
.back_filter {
  margin-left: 9%;
}
.filter_cont {
  margin: 10px;
  width: 60%;
  height: auto;
  margin: 0 20% 50px 20%;;
}
#filter_btn {
  position: absolute;
  top: 380px;
  left: 20%;
  font-size: 36px;
  border: 2px #006bb3 solid;
  padding: 0 10px;
  float: left;
  z-index: 500;
}
.main_head_text {
  width: 40%;
  position: absolute;
  top: 280px;
  left: 30%;
  right: 30%;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0 0 4px #000;
}
.del_icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.type_select {
  color: #006bb3;
  min-width: 180px;
  padding: 0 10px;
}
.type_option {
  color: #006bb3;
  min-width: 180px;
}


@media (max-width: 1910px) {
  #colletion_btn {
    left: 32%;
  }
}
@media (max-width: 1800px) {
  #colletion_btn {
    left: 33%;
  }
}
@media (max-width: 1650px) {
  #colletion_btn {
    left: 34%;
  }
}
@media (max-width: 1600px) {
  body {
    background: url(../stuff/main-bg_43.png) no-repeat center center fixed;
  }
}
@media (max-width: 1540px) {
  #colletion_btn {
    left: 35%;
  }
  #head-pic {
    width: 50%;
    padding: 20px 25% 0 25%;
  }
}
@media (max-width: 1450px) {
  #colletion_btn {
    left: 36%;
  }
}
@media (max-width: 1350px) {
  body {
    background: url(../stuff/main-bg_13.png) center center fixed;
    height: 100%;
  }
  .connection{
    min-width: 200px;
  }
  #login,#register {
    min-width: 49%;
  }
  .btn{
    font-size: 0.7em;
  }
  #colletion_btn {
    left: 35%;
  }
  #colletion_btn, #pokebtn, #filter_btn, #pokeinput {
    font-size: 30px;
    top: 390px;
  }
  #filter_btn {
    left: 10%;
  }
  #colletion_btn {
    left: 25%;
  }
  #searchform {
    top: 390px;
    width: 80%;
    margin: 0 10%;
  }
  .content {
    width: 80%;
    margin: 50px 10%;
    height: auto;
  }
  #head-pic {
    width: 60%;
    padding: 20px 20% 0 20%;
  }
  #log_username {
    display: none;
  }
  #profilePic {
    width: 50px;
    height: 50px;
  }
  .dropdown {
    width: 80px;
    height: 50px;
  }
  #logout_arrow {
    margin: 15px 0 0 0;
    float: right;
    width: 20px;
    height: auto;
  }
  .form_butt {
    font-size: 15px;
  }
  #back_btn{
    top: 7%;
    left: 2%;
  }
}
@media (max-width: 1220px) {
  #colletion_btn {
    left: 27%;
  }
}
@media (max-width: 1120px) {
  .poke_img{
    font-size: 2.0em;
  }
  .poke_name{
    font-size: 2.5em;
  }
  #head-pic {
    display: block;
    margin: auto;
    width: 70%;
    padding: 20px 5% 0 5%;
  }
  .fifth {
    width: 50%;
  }
  #colletion_btn{
    left: 28%;
  }
  #back_btn{
    left: 0;
  }
  .dropdown{
    left: 35%;
  }

}
@media (max-width: 1030px) {
  #colletion_btn{
    left: 30%;
  }
}
@media (max-width: 915px) {
  .content{
    position: relative;
  }
  #colletion_btn{
    left: 32%;
  }
  .dropdown{
    left: 30%;
  }
}
@media (max-width: 860px) {
  #back_btn{
    position: absolute;
  }
   .main_head_text{
     font-size: 9vw;
     top: 28%;
   }
  #pokeinput{
  font-size: 0.6em;
  }
  #filter_btn{
  top: 39%;
  left: 28%;
  }
  #colletion_btn{
    top: 39%;
    left: 52%;
  }
  #pokeinput{
    height: 38px;
    position: absolute;
    width: 150px;
    font-size: 24px;
    top: 0%;
    left: 21%;
  }
  #pokebtn{
    height: 40px;
    position: absolute;
    font-size: 28px;
    top: 0%;
    left: 58.5%;
  }
}
@media (max-width: 990px) {
  .add_poke{
    bottom: 0%;
  }
  .remove_poke{
    bottom: 0%;
  }
}
@media (max-width: 775px) {
  .add_poke{
    bottom: -10%;
  }
  .remove_poke{
    bottom: -10%;
  }
}
@media (max-width: 755px) {
  #filter_btn{
  left: 26%;
  }
  #colletion_btn{
    left: 54%;
  }
  .dropdown{
    left: 50%;
  }
  .dropdown-content{
    left: -5%;
  }
  #profilePic {
    width: 40px;
    height: 40px;
  }
  #logout_arrow {
    margin-top: 10px;
    margin-right: 20px;
    width: 15px;
    height: auto;
  }
}
@media (max-width: 705px) {
  #colletion_btn{
    left: 56%;
  }
}
@media (max-width: 655px) {
  #filter_btn{
  left: 25%;
  }
  #colletion_btn{
    left: 56%;
  }
}
@media (max-width: 610px) {
  .fifth {
    width: 100%;
  }
  .dropdown{
  left: 60%;
  }
  .dropdown-content{
    left: -40%;
  }
  .dropdown-content .form_butt{
    padding: 5px;
    font-size: 1.0em;
  }
  #logout_arrow{
    display: none;
  }
  #filter_btn{
  left: 25%;
  }
  #colletion_btn{
    left: 58%;
  }
  #pokeinput{
    left: 17%;
  }
  #pokebtn{
    left: 60%;
  }
  #head-pic{
    margin-top: 5%;
  }
}
@media (max-width: 570px){
  .add_poke{
    left: 0%;
  }
  .remove_poke{
    left: 0%;
  }
}
@media (max-width: 555px) {
  #filter_btn{
  left: 16%;
  }
  #colletion_btn{
    left: 54%;
  }
  #pokeinput{
    min-width: 160px;
    left: 5%;
  }
  #pokebtn{
    left: 55%;
  }
}
@media (max-width: 510px) {
  .main_head_text{
    font-size: 9vw;
    min-width: 175px;
  }
  #colletion_btn{
    left: 58%;
  }
  #pokebtn{
    left: 60%;
  }
  #head-pic{
    margin-top: 10%;
  }

}
@media (max-width: 440px) {
  .main_head_text{
    font-size: 9vw;
  }
  #filter_btn{
  left: 10%;
  }
  #colletion_btn{
    left: 55%;
  }
  #pokeinput{
    left: -9%;
  }
  #pokebtn{
    left: 63%;
  }
  .dropdown{
    top: -50%;
  }
  #head-pic{
    margin-top: 8vh;
  }
  #filter_btn{
  left: 5%;
  }
  #colletion_btn{
    left: 58%;
  }
}
