* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  font-family: pokefont;
  color: #ffcb05;
}
@font-face {
  font-family: pokefont;
  src: url(../stuff/pokefont.ttf);
}
body {
  background-image: url(../stuff/main-bg.png);
  background-repeat: no-repeat;
}
.content {
  margin: 0 auto;
  padding-top: 50px;
  width: 50vw;
  height: auto;
}
#head-pic {
  width: 76%;
  height: auto;
  padding: 0 12%;
}
.connect {
  width: 80%;
  height: 430px;
  margin: 0 10%;
  padding: 10px 2%;
  background-color: #099bf6;
  border-radius: 15px;
  box-shadow: 0 0 10px #fff;
}
.login {
  background-color: #22a5f7;
  width: 96%;
  margin: 0 auto;
  border-radius: 15px;
}
label {
  font-size: 25px;
  text-shadow: 0 0 5px #000;
  margin: 5px 5%;
  letter-spacing: 3px;
}
#ipt:hover {
  background-color: #f2f2f2;
}
#ipt {
  width: 90%;
  margin: 0 auto;
  height: 20x;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 5%;
  padding-left: 10px;
  color: #099bf6;
  border: none;
  transition: .3s;
}
#login {
  width: 40%;
  height: auto;
  font-size: 25px;
  margin: 20px 30%;
}
.btn:hover {
  background: linear-gradient(to bottom, #006bb3, #008ae6);
}
.btn {
  background: linear-gradient(to bottom, #008ae6, #006bb3);
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.small_icon {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
#back:hover {
  text-decoration: underline;
}
#back {
  letter-spacing: 4px;
  font-size: 20px;
  margin-left: 10%;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
}
#error {
  color: #ff0000;
  font-family: arial, sans-serif;
  font-size: 16px;
  margin-left: 10%;
  padding-top: 10px;
}
.space {
  width: 300px;
  height: 50px;
  background-color: transparent;
}
.hidden {
  display: none;
}
@media(max-width: 1200px){
  .content{
  width: 60vw;
  }
}
@media(max-width: 950px) {
  .content {
  width: 70vw;
  }
}
@media(max-width: 850px) {
  .content {
  width: 80vw;
  }
  label {
    font-size: 20px;
  }
  input {
    font-size: 15px;
  }
  #login {
    font-size: 20px;
  }
  .connect {
    height: 380px;
  }
  #error {
    margin-left: 5%;
  }
}
@media(max-width: 600px) {
  .content {
  width: 95vw;
  }
  #login {
    width: 90%;
    margin: 20px 5%;
  }
}
