* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  font-family: cloud;
  font-size: 40px;
  color: #ffcb05;
}
@font-face {
  font-family: cloud;
  src: url(../stuff/cloud.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../stuff/montserrat.otf);
}
#back_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
#back_btn {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffcb05;
  background-color: #1aa3ff;
  border: 2px #006bb3 solid;
  position: fixed;
  top: 338px;
  left: 20%;
  z-index: 1000;
  padding: 5px 10px;
  font-family: montserrat;
  font-weight: bold;
}
.container {
  width: 80vw;
  height: auto;
  margin: 0 10vw;
}
.left_side{
  display: block;
  float: left;
  width: 20vw;
  height: auto;
}
.right_side{
  display: block;
  float: right;
  width: 50vw;
  height: auto;
}
#poke_profil {
  width: 20vw;
  height: auto;
  border: 2px #006bb3 solid;
  padding: 2vh 2vw;
  background-color: #1aa3ff;
  display: block;
  float: left;
}
h1 {
  font-size: 1.8em;
  text-shadow: 0 0 10px #006bb3;
  display: block;
  text-align: left;
  padding-left: 20px;
  text-decoration: underline;
  text-decoration-color: #006bb3;
}
h2 {
  font-size: 50px;
  text-shadow: 0 0 10px #006bb3;
  padding: 10px;
}
a {
  cursor: pointer;
}
#type_tab {
  font-size: 40px;
  display: inline-block;
  margin-left: 10px;
}
#type_tab a{
  display: block;
  float: left;
  margin: 1vh 0.5vw;
}
.type_name {
  padding: 5px;
  font-size: 40px;
}
.type_img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}
#weaknesses {
  font-size: 40px;
  display: inline-block;
  margin-left: 10px;
}
#weaknesses a{
  display: block;
  float: left;
  margin: 1vh 0.5vw;
}
.evol {
  margin-left: 1vw;
  width: 30px;
  height: 30px;
  padding: 0 2px;
}
.add_poke:hover {
  background: linear-gradient(to bottom, #00b300, #00e600);
  box-shadow: 0 0 15px #fff;
}
.add_poke {
  color: #fff;
  border: 2px #00e600 solid;
  background: linear-gradient(to bottom, #00e600, #00b300);
  width: 24.3vw;
  padding: 1.5vh 1.5vw;
  font-size: 2vw;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.remove_poke:hover {
  background: linear-gradient(to bottom, #b30000, #ff0000);
  box-shadow: 0 0 15px #fff;
}
.remove_poke {
  color: #fff;
  border: 2px #ff1a1a solid;
  background: linear-gradient(to bottom, #ff0000, #b30000);
  width: 24.3vw;
  padding: 1.5vh 1.5vw;
  font-size: 2vw;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}

/* ALL TYPES IDs */
#bug {
  color: #000;
  border: 2px #000 dashed;
}
#dark {
  color: #000;
  border: 2px #000 dashed;
}
#dragon {
  color: #ff0000;
  border: 2px #ff0000 dashed;
}
#electric {
  color: #ffff00;
  border: 2px #ffff00 dashed;
}
#fairy {
 color: #ff66ff;
 border: 2px #ff66ff dashed;
}
#fighting {
  color: #ff0000;
  border: 2px #ff0000 dashed;
}
#fire {
  color: #ff6600;
  border: 2px #ff6600 dashed;
}
#flying {
  color: #d9d9d9;
  border: 2px #d9d9d9 dashed;
  text-shadow: 0 0 1px #000;
}
#ghost {
  color: #000;
  border: 2px #000 dashed;
}
#grass {
  color: #009933;
  border: 2px #009933 dashed;
}
#ground {
  color: #804000;
  border: 2px #804000 dashed;
}
#ice {
  color: #00e6e6;
  border: 2px #00e6e6 dashed;
  text-shadow: 0 0 1px #000;
}
#normal {
  color: #a6a6a6;
  border: 2px #a6a6a6 dashed;
  text-shadow: 0 0 1px #000;
}
#poison {
  color: #000;
  border: 2px #000 dashed;
}
#psychic {
  color: #ff33cc;
  border: 2px #ff33cc dashed;
}
#rock {
  color: #a6a6a6;
  border: 2px #a6a6a6 dashed;
}
#steel {
  color: #a6a6a6;
  border: 2px #a6a6a6 dashed;
}
#water {
  color: #0066ff;
  border: 2px #0066ff dashed;
}
@media (max-width: 1250px){
  #head-pic{
    display: block;
    width: 50%;
    margin: auto;
  }
  .container{
    width: 90vw;
    margin: 0 5vw;
  }
  .right_side{
    width: 60vw;
  }
  .add_poke{
  font-size: 2.5vw;
  }
  .remove_poke{
  font-size: 2.0vw;
  }
}
@media (max-width: 1100px){
  header{
    height: 35vh;
  }
  #weaknesses{
    width: 40vw;
    height: auto;
  }
}
@media (max-width: 900px){
  .left_side{
    width: 35vw;
  }
  #poke_profil{
  width: 30vw;
  }
  .add_poke{
  width: 34.5vw;
  padding: 1.5vh 3vw;
  font-size: 3vw;
  }
  .remove_poke{
  width: 34.5vw;
  padding: 1.5vh 3vw;
  font-size: 2.5vw;
  }
  .right_side{
    width: 40vw;
  }
  .right_side h1{
    font-size: 5vw;
  }
  .right_side h2{
    font-size: 4vw;
  }
  .evol{
    margin-left: 1.5vw;
  }
}
@media (max-width: 700px){
  header{
    height: 35vh;
  }
  #head-pic{
    width: 70%;
  }
  .add_poke{
  font-size: 3.5vw;
  }
  .remove_poke{
  font-size: 2.8vw;
  }
  .right_side h1{
    font-size: 7vw;
  }
  .right_side h2{
    font-size: 6vw;
  }
  .evol{
    margin-left: 2vw;
  }
}
@media (max-width: 620px){
  .dropdown-content .form_butt{
    font-size: 0.5em;
  }
  header{
    height: 30vh;
  }
  .container{
    width: 80vw;
    margin: 0 10vw;
  }
  .left_side{
    width: 100%;
  }
  .right_side{
    width: 100%;
  }
  #poke_profil{
    width: 50vw;
    display: block;
    margin: auto;
    float: none;
  }
  .add_poke{
    width: 55vw;
    display: block;
    margin: auto;
    float: none;
    font-size: 4vw;
  }
  .remove_poke{
    width: 55vw;
    display: block;
    margin: auto;
    float: none;
    font-size: 4vw;
  }
  .right_side h1{
    padding: 0;
    width: 55vw;
    margin: auto;
    font-size: 7vw;
  }
  .right_side h2{
    padding: 0;
    width: 55vw;
    margin: auto;
    font-size: 6vw;
  }
  #type_tab{
    display: block;
    padding: 0;
    width: 55vw;
    height: auto;
    margin: auto;
  }
  #weaknesses{
    display: block;
    padding: 0;
    width: 55vw;
    height: auto;
    margin: auto;
  }
  img:nth-child(2){ /* FIRST EVOLUTION*/
    margin-left: 12vw;
  }
}
@media (max-width: 500px){
  .add_poke{
    font-size: 4.5vw;
  }
  .remove_poke{
    font-size: 4.5vw;
  }
  .right_side h1{
    font-size: 8vw;
  }
  .right_side h2{
    margin-left: 13vw;
    float: left;
    font-size: 7vw;
  }
  #type_tab{
    width: 55vw;
    height: 10vh;
  }
  #weaknesses{
    width: 55vw;
    height: 30vh;
  }
}
