* {
  color: #fff;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: montserrat;
  font-size: 25px;
}
@font-face {
  font-family: montserrat;
  src: url(../stuff/montserrat.otf);
}
#bg_nav {
  background: linear-gradient(to right, #0066ff, #00ffff);
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  box-shadow: 0 0 15px #000;
  float: left;
}
#back_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
#back_btn {
  color: #0000ff;
  background-color: #00ffff;
  border: 1px #0000ff solid;
  z-index: 500;
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 3px;
  left: 3px;
  height: 44px;
  padding: 5px 10px;
  font-weight: bold;
}
#nav_icon{
  display: none;
  position: fixed;
  z-index: 500;
  cursor: pointer;
  width: 45px;
  height: 45px;
  top: 3px;
}
h1 {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 40px 0;
}
.lvl1 {
  width: auto;
  list-style: none;
  font-size: 30px;
  border-left: 5px transparent solid;
  text-decoration: underline;
  text-decoration-color: #0000ff;
  padding: 5px 0 5px 10px;
  margin: 3px 0;
  font-weight: bold;
}
.lvl2:hover {
  border-left: 5px #0000ff solid;
  cursor: pointer;
  color: #0099ff;
  background: #00ffff;
  padding-left: 20px;
}
.lvl2 {
  list-style: none;
  padding: 5px 0 5px 30px;
  transition: .3s;
}
.content {
  margin-left: 25vw;
  width: 75vw;
  height: 100vh;
}
.active {
  border-left: 5px #0000ff solid;
  cursor: pointer;
  background-color: #00ffff;
  color: #0000ff;
  padding-left: 20px;
}
.content h2 {
  color: #0066ff;
  font-size: 70px;
  padding: 80px 0 30px 80px;
  font-weight: bold;
}
h3 {
  color: #0066ff;
  font-size: 35px;
  padding: 5px 0 5px 80px;
}
p {
  color: #ff0000;
  font-size: 20px;
  padding: 5px 0 5px 80px;
}
table {
  margin-left: 110px;
}
table, th, td {
  text-align: center;
}
td:first-child {
  border-radius: 5px 0 0 5px;
}
td:last-child {
  border-radius: 0 5px 5px 0;
}
td {
  color: #fff;
  font-size: 30px;
  padding: 2px 10px;
  background-color: #0099ff;
  border-radius: 0;
}
span {
  color: #fff;
  font-size: 35px;
  margin: 5px 30px;
  padding: 0 5px;
  font-weight: bold;
  background-color: #0099ff;
  text-decoration: underline;
  text-decoration-color: #0099ff;
  border-radius: 5px;
}
#username {
  text-transform: uppercase;
  color: #fff;
}
.number {
  color: #fff;
  font-size: 30px;
  margin: 0 15px;
  padding: 0 5px;
  font-weight: bold;
  background-color: #0099ff;
  text-decoration: underline;
  text-decoration-color: #0099ff;
  text-align: center;
  min-width: 34px;
}
.overall {
  min-width: 34px;
  text-align: center;
}
.icon {
  width: 25px;
  height: 25px;
}
#space {
  width: 100%;
  height: 50px;
}
.err {
  color: #ff0000;
}
.succ {
  color: #00e600;
}
.change_label_purple {
  color: #0066ff;
  margin: 10px 10px 10px 110px;
  max-width: 400px;
  margin-left: 2%;
  display: block;
  position: static;
}
.change_input_purple:focus {
  background-color: #f2f2f2;
  border: 1px #0066ff solid;;
}
.change_input_purple {
  color: #0066ff;
  padding: 6px;
  max-width: 400px;
  display: block;
  position: static;
  margin-left: 2%;
}
.conf_btn_purple:hover {
  background-color: #0066ff;
  color: #fff;
}
.conf_btn_purple {
  color: #0066ff;
  border: 2px #0066ff solid;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 400px;
  display: block;
  position: static;
  margin: 2% 2%;
}
.this_btn {
  margin-left: 2%;
}
.this_inpt {
  margin-left: 2%;
}
@media (max-width: 1460px){
  table{
    margin: auto;
  }
}
@media (max-width: 1350px){
  #bg_nav{
    width: 40vw;
  }
  .content{
    margin-left: 40vw;
    width: 60vw;
  }
  th{
    font-size: 0.7em;
    padding: 10px 2px;
  }
  td{
    font-size: 0.8em;
    padding: 10px 2px;
  }
  a{
    font-size: 1.0em;
  }
  .this_btn, .this_inpt {
    margin-left: 2%;
  }
  .really_this {
    margin-top: 2%;
  }
  .tip{
    margin: 0;
  }
}
@media (max-width: 1020px){
  th{
    font-size: 0.7em;
    padding: 8px 2px;
  }
  td{
    font-size: 0.8em;
    padding: 8px 2px;
  }
  a{
    font-size: 0.9em;
  }
}
@media (max-width: 950px){
  #back_btn{
    height: 45px;
    top: 1%;
    position: absolute;
    left: 50px;
  }
  #nav_icon{
    display: block;
    position: absolute;
    top: 1%;
  }
  #bg_nav{
    position: absolute;
    display: none;
    width: 40vw;
    font-size: 1.5em;
  }
  .content{
    margin: 2% 0 0 0;
    width: 100%;
  }
  .content h2{
    text-align: center;
    max-width: 400px;
    font-size: 2.0em;
    padding: 0;
    margin: 2vh auto;
  }
  .content h3{
    max-width: 400px;
    font-size: 1.2em;
    padding: 0;
    margin: 2vh auto;
  }
  p{
    max-width: 400px;
    padding: 0;
    margin: 2vh auto;
  }
  form{
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 750px){
  #bg_nav{
    width: 50vw;
  }
  .content{
    margin-top: 12%;
  }
}
@media (max-width: 600px){
  .content{
    margin-top: 12%;
  }
}
@media (max-width: 550px){
  #bg_nav{
    width: 100vw;
  }
